<%= error_messages_for 'link' %>

<div class="box tabular">
  <p><%= f.text_field :expression, :size => 30, required: true %></p>
  <p><%= f.text_field :url_template, :size => 30, required: true %></p>
</div>
